USE [master]
GO
/****** Object:  Database [SiteKick]    Script Date: 09/07/2020 11:26:46 PM ******/
CREATE DATABASE [SiteKick]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SiteKick', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SiteKick.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SiteKick_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SiteKick_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SiteKick].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SiteKick]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 09/07/2020 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Site]    Script Date: 09/07/2020 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](max) NULL,
	[GlobalRank] [int] NULL,
	[Country] [nvarchar](150) NULL,
	[CountryRank] [int] NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Site] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteTech]    Script Date: 09/07/2020 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteTech](
	[TechnologyId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
 CONSTRAINT [PK_SiteTech] PRIMARY KEY CLUSTERED 
(
	[TechnologyId] ASC,
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technology]    Script Date: 09/07/2020 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technology](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Description] [nvarchar](500) NULL,
	[TechnologyGroupId] [int] NULL,
 CONSTRAINT [PK_Technology] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnologyGroup]    Script Date: 09/07/2020 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnologyGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_TechnologyGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (25, N'Home')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (26, N'Society')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (27, N'Business')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Site] ON 

INSERT [dbo].[Site] ([Id], [Url], [GlobalRank], [Country], [CountryRank], [CategoryId]) VALUES (328, N'food.com', 2842, N'United States', 654, 25)
INSERT [dbo].[Site] ([Id], [Url], [GlobalRank], [Country], [CountryRank], [CategoryId]) VALUES (329, N'countryliving.com', 5614, N'United States', 1825, 25)
INSERT [dbo].[Site] ([Id], [Url], [GlobalRank], [Country], [CountryRank], [CategoryId]) VALUES (330, N'consumerreports.org', 4175, N'United States', 861, 25)
GO
SET IDENTITY_INSERT [dbo].[Site] OFF
GO
INSERT [dbo].[SiteTech] ([TechnologyId], [SiteId]) VALUES (2563, 342)
INSERT [dbo].[SiteTech] ([TechnologyId], [SiteId]) VALUES (2563, 362)
INSERT [dbo].[SiteTech] ([TechnologyId], [SiteId]) VALUES (2563, 463)
GO
SET IDENTITY_INSERT [dbo].[Technology] ON 

INSERT [dbo].[Technology] ([Id], [Name], [Description], [TechnologyGroupId]) VALUES (2563, N'Rapleaf', N'Marketing automation tools with the necessary data to help brands keep their customers engaged.', 220)
INSERT [dbo].[Technology] ([Id], [Name], [Description], [TechnologyGroupId]) VALUES (2564, N'LiveRamp', N'CRM Retargeting & Data Onboarding app.', 220)
INSERT [dbo].[Technology] ([Id], [Name], [Description], [TechnologyGroupId]) VALUES (2565, N'Everest Technologies', N'Performance testing and channel strategy provider for eCommerce.', 220)
GO
SET IDENTITY_INSERT [dbo].[Technology] OFF
GO
SET IDENTITY_INSERT [dbo].[TechnologyGroup] ON 

INSERT [dbo].[TechnologyGroup] ([Id], [Name]) VALUES (220, N'Analytics and Tracking')
INSERT [dbo].[TechnologyGroup] ([Id], [Name]) VALUES (221, N'Widgets')
INSERT [dbo].[TechnologyGroup] ([Id], [Name]) VALUES (222, N'Frameworks')
SET IDENTITY_INSERT [dbo].[TechnologyGroup] OFF
GO
ALTER TABLE [dbo].[Site]  WITH CHECK ADD  CONSTRAINT [FK_Site_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Site] CHECK CONSTRAINT [FK_Site_Category]
GO
ALTER TABLE [dbo].[SiteTech]  WITH CHECK ADD  CONSTRAINT [FK_SiteTech_Site] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([Id])
GO
ALTER TABLE [dbo].[SiteTech] CHECK CONSTRAINT [FK_SiteTech_Site]
GO
ALTER TABLE [dbo].[SiteTech]  WITH CHECK ADD  CONSTRAINT [FK_SiteTech_Technology] FOREIGN KEY([TechnologyId])
REFERENCES [dbo].[Technology] ([Id])
GO
ALTER TABLE [dbo].[SiteTech] CHECK CONSTRAINT [FK_SiteTech_Technology]
GO
ALTER TABLE [dbo].[Technology]  WITH CHECK ADD  CONSTRAINT [FK_Technology_TechnologyGroup] FOREIGN KEY([TechnologyGroupId])
REFERENCES [dbo].[TechnologyGroup] ([Id])
GO
ALTER TABLE [dbo].[Technology] CHECK CONSTRAINT [FK_Technology_TechnologyGroup]
GO
USE [master]
GO
